Google*

#venv
env*
env/

#results

results/
models_weights/

#scripts
xgb.py
test.py
test_1.py
test_id.csv
test.csv
commons.py
file2.csv
model/*checkpoints
model/Untitled.ipynb

*.pyc

#data
train.csv
test.csv

#model-weights
models_weights/
results/
